web_service-soap2/src/main/mule/web_service-soap2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1e6dd935-1727-4ed5-b591-242495ceb504" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="78a616e3-dd96-4d7e-972c-e49d6e30cee2" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="web_service-soap_flow" doc:id="c420a803-b15d-493b-a5b2-b3704abe2c6b" >
		<http:listener doc:name="Listener" doc:id="f017b66d-9c44-4abd-8af3-4eacb1c23749" config-ref="HTTP_Listener_config" path="/calculate/{opn}"/>
		<set-variable value="#[attributes.uriParams.opn]" doc:name="Set Variable" doc:id="d1aa1b93-c545-45ce-987e-916f73ae4feb" variableName="opn"/>
		<choice doc:name="Choice" doc:id="78ab0904-389e-4ebd-9947-e34847e98a53" >
			<when expression='vars.opn =="add"'>
				<ee:transform doc:name="Transform Message" doc:id="e8224fff-64d8-499e-b239-4d17d9616f87" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="d43f17a6-d466-454f-b974-2a8e47ad70c1" config-ref="Web_Service_Consumer_Config" operation="Add"/>
				<ee:transform doc:name="Transform Message" doc:id="90ddabfa-3bf5-415b-b653-3f13d76026c2" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	Result: {
		Operation:vars.opn ,
		ResultValue: payload.body.AddResponse.AddResult


	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='vars.opn =="divide"'>
				<ee:transform doc:name="Transform Message" doc:id="e8ab5cc1-8c83-43a3-8f1c-7738da72a0e9" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="3b4051d2-026f-4235-8dd6-d6d9052608f7" config-ref="Web_Service_Consumer_Config" operation="Divide"/>
				<ee:transform doc:name="Transform Message" doc:id="fc41735f-9d2d-424a-a6cf-6a7462638c4e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
 Result:{
		Operation: vars.opn,
		ResultValue: payload.body.DivideResponse.DivideResult

    }
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='vars.opn =="multiply"'>
				<ee:transform doc:name="Transform Message" doc:id="69842a4e-2234-420e-9f49-f4519138d1b1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Multiply: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="37ceb9bc-f9ab-4dff-b120-782c2a28ea9c" config-ref="Web_Service_Consumer_Config" operation="Multiply"/>
				<ee:transform doc:name="Transform Message" doc:id="316b85a2-75e3-4117-afdf-c8440de8e14c" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
 Result:{
		Operation: vars.opn,
		ResultValue: payload.body.MultiplyResponse.MultiplyResult


	 }
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression='vars.opn =="subtract"'>
				<ee:transform doc:name="Transform Message" doc:id="c42cb6eb-8bff-40dd-be12-555653a88b53" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Subtract: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<wsc:consume doc:name="Consume" doc:id="ec813f39-b6e9-42e6-be7a-f9f916c310c6" config-ref="Web_Service_Consumer_Config" operation="Subtract"/>
				<ee:transform doc:name="Transform Message" doc:id="65f39198-6d89-40fc-aa9a-cce4b2298d71" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	Result:{
		Operation: vars.opn,
		ResultValue: payload.body.SubtractResponse.SubtractResult

	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise error" doc:id="275b0a72-027e-497f-a328-31f7e3dab5f6" type="CUSTOME:INVALID_OPRATION" description="OPRATION NOT SUPPORTED"/>
			</otherwise>
		</choice>
	</flow>
</mule>
